
.wrapper {
  max-width: 1400px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-bottom: 180px;
}

.bitcoin {
  z-index: 1;
}
.bitcoin, .bitcoinGlow {
  position: absolute;
  top: 680px;
  left: -195px;
  animation: 7s moving ease-in-out infinite;

  @keyframes moving {
    0% {
      transform: translateY(10%);
    }

    50% {
      transform: translateY(15%);
    }

    100% {
      transform: translateY(10%);
    }
  }
}

.bitcoinGlow {
  top: 627px;
  width: 370px;
  height: 320px;
  border-radius: 50%;
  background: goldenrod;
  opacity: .25;
  filter: blur(70px);
}

.ethereum, .ethereumGlow {
  position: absolute;
  top: 262px;
  right: -214px;

  animation: 7s moving ease-in-out infinite;

  @keyframes moving {
    0% {
      transform: translateY(15%);
    }

    50% {
      transform: translateY(10%);
    }

    100% {
      transform: translateY(15%);
    }
  }
}

.ethereumGlow {
  top: 210px;
  width: 370px;
  height: 320px;
  border-radius: 50%;
  background: silver;
  opacity: .25;
  filter: blur(70px);
}

.blockWrapper {
  padding-top: 180px;
  padding-bottom: 350px;
  display: flex;
  justify-content: center;
}

.block {
  padding-top: 20px;
  width: 900px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainTitle {
  font-weight: 500;
  font-size: 42px;
  background: transparent;
}

.mainSubTitle {
  padding-top: 30px;
}

.subTitle {
  font-size: 32px;
}

.joinButton {
  color: #000;
  margin-top: 30px;
  align-self: flex-end;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 0px 90px 7px rgba(0, 242, 255, .25);
  background: rgba(0, 242, 255, 0.9);

  &:hover {
    background: rgba(0, 242, 255, 1);
  }
}

.section {
  margin-top: 100px;

  header {
    font-size: 32px;
    padding-bottom: 20px;
  }
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  width: 320px;
  height: 500px;
  border: 1px solid #ffffff5c;
  border-radius: 3px;
}

.cardButtonsWrapper {
  display: flex;
  flex-direction: column;
}

.cardButton {
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;

  &:last-child {
    margin-top: 10px;
  }

  &:hover {
    background: rgba(255, 255, 255, .1);
  }
}
