
.wrapper {
  max-width: 1400px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-bottom: 150px;
}

.blockWrapper {
  padding-top: 350px;
  padding-bottom: 350px;
  display: flex;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    filter: blur(65px);
  }

  &:before {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 440px;
    height: 280px;
    transform: translate(-65%, 40%);
    animation: glow-moving-before linear 20s infinite;

  }

  @keyframes glow-moving-before {
    0% {
      filter: blur(65px);
      transform: translate(-65%, 40%);
    }

    50% {
      filter: blur(45px);
      transform: translate(-25%, 40%);
    }

    100% {
      filter: blur(65px);
      transform: translate(-65%, 40%);
    }
  }

  &:after {
    background: var(--primary-glow);
    width: 500px;
    height: 280px;
    z-index: -1;
    transform: translate(-80%, -20%);

    animation: glow-moving-after linear 30s infinite 5s;
  }

  @keyframes glow-moving-after {
    0% {
      filter: blur(65px);
      transform: translate(-65%, -20%);
    }

    50% {
      filter: blur(45px);
      transform: translate(-35%, -40%);
    }

    100% {
      filter: blur(85px);
      transform: translate(-65%, -20%);
    }
  }
}

.mainTitle {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.subTitle {
  font-size: 32px;
}

.joinButton {
  margin-top: 30px;
  align-self: flex-end;
  display: inline-block;
  padding: 20px 50px;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-align: center;
}

.section {
  margin-top: 100px;

  header {
    font-size: 32px;
    padding-bottom: 20px;
  }
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  width: 320px;
  height: 500px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.cardButtonsWrapper {
  display: flex;
  flex-direction: column;
}

.cardButton {
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;

  &:last-child {
    margin-top: 10px;
  }

  &:hover {
    background: rgba(255, 255, 255, .1);
  }
}
